# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/public/img/fVzXp3NwovUlLe7fvoRynCmBPNc.jpg
/public/img/u3bZgnGQ9T01sWNhyveQz0wH0Hl.jpg
/public/img/suopoADq0k8YZr4dQXcU6pToj6s.jpg
/public/img/iQFcwSGbZXMkeyKrxbPnwnRo5fl.jpg

# Files
BASE.zip
Modelo.drawio
debug.log

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
